@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.form{
    margin-left: auto;
    margin-right: auto;
}
.search {
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #0033cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.show-error{
  color: white;
}